@media screen and (min-width: 826px) {
    body {
        background-color: #363636;
        color: #dc4405;
        font-family: 'Ubuntu', sans-serif;
        margin: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        min-width: 820px;
    }

    #logo {
        display: inline-block;
        font-family: 'Lobster', cursive;
        font-size: 65px;
        padding: 1.5rem;
        text-shadow: 0.05rem 0.05rem .2rem #606060;
        cursor: default;
    }

    #status-bar {
        display: inline-block;
        width: 45%;
        max-width: 600px;
        font-size: 20px;
        background-color: #606060;
        border-radius: 5px;
        padding: 1rem;
        margin-left: 12%;
        text-align: left;
        box-shadow: 0.05rem 0.05rem .2rem #606060;
        cursor: default;
        min-width: 144px;
        text-shadow: 0.05rem 0.05rem .2rem #3b3b3b;
    }

    #site-sidebar {
        float: left;
        padding: .75rem;
        background-color: #b3b3b3;
        border-radius: 5px;
        max-width: 15%;
        margin-right: 10px;
        margin-left: 10px;
        box-shadow: 0.1rem 0.1rem .5rem 2px #606060;
    }

    #site-game {
        background-color: #b3b3b3;
        border-radius: 5px;
        padding: 2px;
        float: left;
        box-shadow: 0.1rem 0.1rem .5rem 2px #606060;
        max-width: 75%;
        min-width: 634px;
    }

    #dealButton {
        font-family: 'Lobster', cursive;
        font-size: 50px;
        width: 100%;
        padding: .75rem;
        color: #dc4405;
        border-radius: 5px;
        cursor: pointer;
        background-color: #606060;
        border: inset #606060;
        text-align: center;
        outline: none;
        margin-bottom: 1.5rem;
        text-shadow: 0.05rem 0.05rem .2rem #363636;
    }

    #score-area {
        font-family: 'Lobster', cursive;
        font-size: 32px;
        padding: .75rem;
        color: #dc4405;
        border-radius: 5px;
        background-color: #606060;
        text-align: center;
        border: inset #606060;
        cursor: default;
    }

    #dealButton:hover {
        border: inset #dc4405;
        background-color: #7a7a7a;
    }

    #text-area {
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        padding-right: .75rem;
        padding-left: .75rem;
        color: #000000;
        border-radius: 5px;
        background-color: #606060;
        border: inset #606060;
        outline: none;
        cursor: default;
        margin-top: .75rem;
        margin-bottom: 0;
        line-height: 1.1rem;
    }

    #resetButton {
        font-family: 'Lobster', cursive;
        font-size: 40px;
        width: 100%;
        padding: .75rem;
        color: #dc4405;
        border-radius: 5px;
        cursor: pointer;
        background-color: #606060;
        border: inset #606060;
        text-align: center;
        outline: none;
        margin-top: .75rem;
        text-shadow: 0.05rem 0.05rem .2rem #363636;
    }

    #resetButton a{
        color: #dc4405;
        text-decoration: none;
    }

    #resetButton:hover {
        border: inset #dc4405;
        background-color: #7a7a7a;
    }

    #resetButton a {
        color: #dc4405;
    }

    li {
        list-style-type: none;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }

    table {
        border-spacing: 5px 5px;
    }

    tr {
        margin: 2px;
        border: 5px;
    }

    td {
        width: 180px;
        height: 55px;
        text-align: center;
    }

    .title {
        display: none;
    }

    .cardLocation {
        padding: 0;
        background-color: #606060;
        border-radius: 5px;
        font-size: 32px;
        cursor: default;
        transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        border: inset transparent;
    }

    .cardDefault {
        background-color: #606060;
    }

    .cardMovable {
        background-color: #616060;
    }

    .cardRemovable {
        background-color: #616061;
    }

    .cardRemovable:hover, .cardMovable:hover {
        border: inset #dc4405;
        cursor: pointer;
        background-color: #7a7a7a;
    }

    .cardDestination {
        background-color: #7a7a7a;
        border: dashed #606060;
        cursor: pointer;
    }

    .cardDestination:hover {
        background-color: #dc4405;
    }

    .cardSelected {
        background-color: #7a7a7a;
        border: inset #dc4405;
    }

    .hidden {
        display: none;
    }

    .redCard {
        color: #dc4405;
    }

    .blackCard {
        color: #111111;
    }


     .cardID {
     color: #222222;
     font-size: 0.6em;
    }

    #beaver-logo {
        display: block;
        padding: .75rem;
        max-width: 125px;
        margin: auto;
        margin-top: 0.25rem;
    }
}