body{
    background-color: #363636;
    color: #dc4405;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#site-header{
    display: block;
}

#logo{
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    padding: 1.5rem;
}

#status-bar{
    display: inline-block;
    font-size: 20px;
    background-color: #606060;
    border-radius: 5px;
    padding: .75rem;
    margin-left: 12%;
    text-align: center;
}

#site-sidebar{
    float: left;
    padding: .75rem;
    background-color: #b3b3b3;
    border-radius: 5px;
    max-width: 15%;
    margin-right: 10px;
    margin-left: 10px;
}

#site-game{
    background-color: #b3b3b3;
    border-radius: 5px;
    padding: 2px;
    float: left;
}

#dealButton{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    width:100%;
    padding: .75rem;
    color: #dc4405;
    border-radius: 5px;
    cursor: pointer;
    background-color: #606060;
    border: inset #606060;
    text-align: center;
    outline: none;
    margin-bottom: 1.5rem;
}

#score-area{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    padding: .75rem;
    color: #dc4405;
    border-radius: 5px;
    background-color: #606060;
    text-align: center;
    border: inset #606060;
    cursor: default;
    user-select: none;
}


#dealButton:hover{
    border: inset #dc4405;
    background-color: #7a7a7a;
}

#text-area{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    padding-right: .75rem;
    padding-left: .75rem;
    color: #dc4405;
    border-radius: 5px;
    background-color: #606060;
    border: inset #606060;
    outline: none;
    cursor: default;
    margin-top: .75rem;
    margin-bottom: 0;
    line-height: 1.1rem;
    user-select: none;
}

#resetButton{
    /*display: none;*/
    font-family: 'Lobster', cursive;
    font-size: 40px;
    width:100%;
    padding: .75rem;
    color: #dc4405;
    border-radius: 5px;
    cursor: pointer;
    background-color: #606060;
    border: inset #606060;
    text-align: center;
    outline: none;
    margin-top: .75rem;
}

#resetButton:hover{
    border: inset #dc4405;
    background-color: #7a7a7a;
}

li{
    list-style-type: none;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

table{
    border-spacing: 2px 5px;
}

.board{
    width: 700px;
    background-color: #b3b3b3;
    border: #dc4405;
    border-radius: 5px;
    padding: 2px;
}

tr{
    margin: 2px;
    border: 5px;
}

td{
    width: 175px;
    height:50px;
    text-align:center;
}

.title{
    display: none;
}

.cardLocation{
    background-color: #606060;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    cursor: default;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    border: inset transparent;
}

.cardLocation.cardRemovable:hover, .cardLocation.cardMovable:hover {
    border: inset #dc4405;
    cursor: pointer;
    background-color: #7a7a7a;
}

.cardDestination {
    background-color: transparent;
    border: dashed #606060;
    cursor: pointer;
}

.cardDestination:hover {
    background-color: #dc4405;
}

.cardSelected{
    background-color: #7a7a7a;
    border: inset #dc4405;
}

.hidden {
    display: none;
}

#beaver-logo{
    padding: .75rem;
    position: fixed;
    left: 18px;
    bottom: 50px;
    max-width: 125px;
}

#resetButton{
    /*display: none;*/
    font-family: 'Lobster', cursive;
    font-size: 40px;
    width:100%;
    padding: .75rem;
    color: #dc4405;
    border-radius: 5px;
    cursor: pointer;
    background-color: #606060;
    border: inset #606060;
    text-align: center;
    outline: none;
    margin-top: .75rem;
}