body{
    background-color: #424242;
    color: #dc4405;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#site-header{
    display: block;
}

#logo{
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 20px;
}

#status-bar{
    display: inline-block;
    font-size: 20px;
    background-color: #606060;
    border-radius: 5px;
    padding: 10px;
    margin-left: 90px;
}

#site-sidebar{
    float: left;
    padding: 10px;
    background-color: #a5a5a5;
    border-radius: 5px;
    height: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

#site-game{
    background-color: #a5a5a5;
    border-radius: 5px;
    padding: 2px;
    float: left;
}

#dealButton{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding: 0 15px 2px 10px;
    color: #dc4405;
    border-radius: 5px;
    cursor: pointer;
    background-color: #606060;
    border: inset #606060;
}

#dealButton:hover{
    border: inset #dc4405;
}
tr .title{
    display: none;
}
table{
    border-spacing: 2px 5px;
}
.board{
    width: 700px;
    background-color: #a5a5a5;
    border: #dc4405;
    border-radius: 5px;
    padding: 2px;
}

tr{
    margin: 2px;
    border: 5px;
}

td{
    width: 175px;
    height:50px;
    text-align:center;
}

.title{
    display: none;
}

.cardLocation{
    background-color: #606060;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
}

.cardLocation.top.cardRemovable:hover, .cardLocation.top.cardMovable:hover {
    border: inset #dc4405;
    cursor: pointer;
}

.cardLocation.top.cardMovable:active {
    border: inset #dc4405;
    cursor: pointer;
}

.cardLocation.l0.empty{
    background-color: transparent;
    border: dashed;
    border-color: #606060;
}

.hidden {
    display: none;
}

.empty{
    background-color: transparent;
    cursor: auto;
    border: none;
}

.empty:hover{
    border: none;
}

#beaver-logo{
    position: fixed;
    left: 18px;
    bottom: 50px;
    max-width: 125px;
}