<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="/assets/css/mobile.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Lobster|Ubuntu" rel="stylesheet">

<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>
<div id="site-header">
    <div id="logo">AceUp</div>
    <div id="status-bar">
        <div id="status-text">
            <span id="poster">Status:</span>
            <span id="notifier"> </span>
        </div>
    </div>
</div>
<div id="site-body">
    <main id="site-content">
        <div id="site-sidebar">
            <div id="deal-btn">
                <button id="dealButton">Deal</button>
            </div>
            <div id="score-area">
                <span id="score">Score: 0</span>
            </div>
            <ul id="text-area">
                <li>
                    Hover over a card to see if it can be changed!
                </li>
                <li>
                    Removable cards will disappear when clicked!
                </li>
                <li>
                    To move a card to an empty column, click the card and then click the empty column!
                </li>
            </ul>
            <div id="reset-btn">
                <button id="resetButton"><a href="/">Reset</a></button>
            </div>
            <div id="beaver-logo-area">
                <img id=beaver-logo src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1b/Oregon_State_Beavers_logo.svg/400px-Oregon_State_Beavers_logo.svg.png">
            </div>
        </div>
        <div id="site-game">
          <table class="gameTable">
              <tr class="columnContainer">
                  <td class="columnOfCards" id="c0">
                      <table class="column">
                          <tr><td class="cardLocation l0" id="0-0"></td></tr>
                          <tr><td class="cardLocation l1" id="0-1"></td></tr>
                          <tr><td class="cardLocation l2" id="0-2"></td></tr>
                          <tr><td class="cardLocation l3" id="0-3"></td></tr>
                          <tr><td class="cardLocation l4" id="0-4"></td></tr>
                          <tr><td class="cardLocation l5" id="0-5"></td></tr>
                          <tr><td class="cardLocation l6" id="0-6"></td></tr>
                          <tr><td class="cardLocation l7" id="0-7"></td></tr>
                          <tr><td class="cardLocation l8" id="0-8"></td></tr>
                          <tr><td class="cardLocation l9" id="0-9"></td></tr>
                          <tr><td class="cardLocation l10" id="0-10"></td></tr>
                          <tr><td class="cardLocation l11" id="0-11"></td></tr>
                          <tr><td class="cardLocation l12" id="0-12"></td></tr>
                      </table>
                  </td>
                  <td class="columnOfCards" id="c1">
                      <table class="column">
                          <tr><td class="cardLocation l0" id="1-0"></td></tr>
                          <tr><td class="cardLocation l1" id="1-1"></td></tr>
                          <tr><td class="cardLocation l2" id="1-2"></td></tr>
                          <tr><td class="cardLocation l3" id="1-3"></td></tr>
                          <tr><td class="cardLocation l4" id="1-4"></td></tr>
                          <tr><td class="cardLocation l5" id="1-5"></td></tr>
                          <tr><td class="cardLocation l6" id="1-6"></td></tr>
                          <tr><td class="cardLocation l7" id="1-7"></td></tr>
                          <tr><td class="cardLocation l8" id="1-8"></td></tr>
                          <tr><td class="cardLocation l9" id="1-9"></td></tr>
                          <tr><td class="cardLocation l10" id="1-10"></td></tr>
                          <tr><td class="cardLocation l11" id="1-11"></td></tr>
                          <tr><td class="cardLocation l12" id="1-12"></td></tr>
                      </table>
                  </td>
                  <td class="columnOfCards" id="c2">
                      <table class="column">
                          <tr><td class="cardLocation l0" id="2-0"></td></tr>
                          <tr><td class="cardLocation l1" id="2-1"></td></tr>
                          <tr><td class="cardLocation l2" id="2-2"></td></tr>
                          <tr><td class="cardLocation l3" id="2-3"></td></tr>
                          <tr><td class="cardLocation l4" id="2-4"></td></tr>
                          <tr><td class="cardLocation l5" id="2-5"></td></tr>
                          <tr><td class="cardLocation l6" id="2-6"></td></tr>
                          <tr><td class="cardLocation l7" id="2-7"></td></tr>
                          <tr><td class="cardLocation l8" id="2-8"></td></tr>
                          <tr><td class="cardLocation l9" id="2-9"></td></tr>
                          <tr><td class="cardLocation l10" id="2-10"></td></tr>
                          <tr><td class="cardLocation l11" id="2-11"></td></tr>
                          <tr><td class="cardLocation l12" id="2-12"></td></tr>
                      </table>
                  </td>
                  <td class="columnOfCards" id="c3">
                      <table class="column">
                          <tr><td class="cardLocation l0" id="3-0"></td></tr>
                          <tr><td class="cardLocation l1" id="3-1"></td></tr>
                          <tr><td class="cardLocation l2" id="3-2"></td></tr>
                          <tr><td class="cardLocation l3" id="3-3"></td></tr>
                          <tr><td class="cardLocation l4" id="3-4"></td></tr>
                          <tr><td class="cardLocation l5" id="3-5"></td></tr>
                          <tr><td class="cardLocation l6" id="3-6"></td></tr>
                          <tr><td class="cardLocation l7" id="3-7"></td></tr>
                          <tr><td class="cardLocation l8" id="3-8"></td></tr>
                          <tr><td class="cardLocation l9" id="3-9"></td></tr>
                          <tr><td class="cardLocation l10" id="3-10"></td></tr>
                          <tr><td class="cardLocation l11" id="3-11"></td></tr>
                          <tr><td class="cardLocation l12" id="3-12"></td></tr>
                      </table>
                  </td>
              </tr>
          </table>
        </div>
    </main>
</div>

<script>
var ui;
var card_modes_class_map = [
    "cardDefault",
    "cardMovable",
    "cardRemovable",
    "cardSelected",
    "cardDestination"
];

function processCard(card) {
    var str = "";

    switch(card.suit) {
        case "Hearts":
            str += "<span class=\"redCard\">\u2665</span>";
            break;
        case "Spades":
            str += "<span class=\"blackCard\">\u2660</span>";
            break;
        case "Diamonds":
            str += "<span class=\"redCard\">\u2666</span>";
            break;
        case "Clubs":
            str += "<span class=\"blackCard\">\u2663</span>";
            break;
        case "Coins":
            str += "<span style=\"color:#000000;\">&#127779</span>";
            break;
        case "Cups":
            str += "<span style=\"color:#000000;\">&#8852</span>";
            break;
        case "Swords":
            str += "<span style=\"color:#000000;\">&#9876</span>";
            break;
        case "Jokers":
            str += "<span style=\"color:#000000;\">&#127167</span>";
            break;
    }

    str += "<sub class=\"cardID\">";
    switch(card.value) {
        case 11:
            str += "J";
            break;
        case 12:
            str += "Q";
            break;
        case 13:
            str += "K";
            break;
        case 14:
            str += "A";
            break;
        default:
            str += card.value;
            break;
    }
    str += "</sub>";

    return str;
}

function display(data) {
    var i = 0;
    console.log(data);

    // Clear the table
    $( '.columnOfCards .cardLocation' ).html("");

    // Update cards
    for (i = 0; i < 4; ++i) {
        $.each(data.game.cols[i], function( key, val ) {
            $( '#c' + i.toString() + ' .l' + key ).html( processCard(val) );
        });
    }

    // Reset CSS classes of card containers
    $(".cardLocation").removeClass("cardMovable cardRemovable cardSelected cardDestination").addClass("cardDefault");

    // Update CSS classes of top cards
    for (i = 0; i < 4; ++i) {
        if (data.top_card_rows[i] >= 0) {
            $( '#c' + i + ' .l' + data.top_card_rows[i]).removeClass("cardDefault").addClass(card_modes_class_map[data.top_card_modes[i]]);
        }
    }

    // Update score and notifier
    $( '#score' ).html("Score: " + data.game.score);
    $( '#notifier' ).html(data.game.status);
}

// Calls ApplicationController.gameGet()
$.getJSON("/initGame", function( data ) {
    display(data);
    ui = data;
});

$("#dealButton").click(function(){
    $.ajax({
        type: "POST",
        url: "/dealClicked",
        data: JSON.stringify(ui),
        success: function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            ui = data;
            display(data);
        },
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

$(".cardLocation").click(function() {
    var id_data = this.id.split('-'); // col-row

    $.ajax({
        type: "POST",
        url: "/cardClicked/"+id_data[0]+"/"+id_data[1],
        data: JSON.stringify(ui),
        success: function(data, status) {
            console.log("Data: " + data + "\nStatus: " + status);
            ui = data;
            display(data);
        },
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
});

</script>
</body>
</html>
